# ==========================================
# CẤU HÌNH CHUNG
# ==========================================
PORT=3000
NODE_ENV=development

# ==========================================
# CƠ SỞ DỮ LIỆU (TimescaleDB)
# ==========================================
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASS=your_db_password
DB_NAME=shrimp_local_db

# ==========================================
# MESSAGE BROKERS (Giao tiếp mảng IoT & Microservices)
# ==========================================
# Mosquitto (Topic: telemetry) - Giao tiếp với ESP32
MQTT_BROKER_URL=mqtt://localhost:1883

# RabbitMQ (Topic: shrimp.events) - Truyền tải Event/Alert nội bộ
RABBITMQ_URL=amqp://your_user:your_password@localhost:5672

# ==========================================
# IDENTITY SERVICE (Xác thực người dùng)
# ==========================================
JWT_ACCESS_SECRET=your_jwt_access_secret_key_minimum_32_characters
JWT_REFRESH_SECRET=your_jwt_refresh_secret_key_minimum_32_characters
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

# ==========================================
# EXTERNAL & AI SERVICES (Tích hợp ngoại vi)
# ==========================================
# AI Prediction Service (Dự báo rủi ro)
AI_PREDICTION_API_URL=http://localhost:8000/api/predict


#Mail
EMAIL_USER=your_email@gmail.com
EMAIL_PASS=your_email_app_password
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_SECURE=false

#SMS OTP
ESMS_API_KEY="your_esms_api_key"
ESMS_SECRET_KEY="your_esms_secret_key"
ESMS_BRANDNAME="Baotrixemay"
ESMS_SMS_TYPE="2"
ESMS_CONTENT_TEMPLATE="{OTP} la ma xac minh dang ky {BRANDNAME} cua ban"
